<div class="responsive">
  <div class="row">
      <div class="col-md-2" style="background-color: black;width: 200px;height: 350px;color: grey;">
        <h2>ASPNETCoreAn...</h2>
          <ul style="list-style-type: none;">
            <li style="padding-top: 20px;"><a routerLink="#">Home</a></li>
            <li style="padding-top: 20px;"><a routerLink="#">Counter</a></li>
            <li style="padding-top: 20px;  list-style-type: none;"><a routerLink="/fetchdata">Fetch data</a></li>
          </ul>
      </div>
      
  </div>

</div>

<router-outlet></router-outlet>