<div class="responsive">
  <div class="row">
    <div class="col-md-6">
      <ul>
        <h1 style="color: white;">ASP.NET</h1>
        <li>
          <a routerLink="home">
            Home
          </a>
        </li>
        <li>
          <a routerLink="counter">
            Counter
          </a>
        </li>
        <li>
          <a routerLink="fetch">
            Fetch-Data
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6" style="margin-left: -290px;">
<h2>Welcome</h2>
<h4>Click The Fetch-Data RouteLink For DropDown</h4>
    </div>
  </div>
</div>
<router-outlet>

</router-outlet>