<div style="margin-left: 220px;margin-top: -350px;">
        <h1><strong>Weather forecast</strong></h1>
        <p >This component demonstrates fetching data from the server.</p>
        <p> <strong> Summary:  <select style="width:85px;">
                <option>All</option>
                <option>Freezing</option>
                <option>Bracing</option>
                <option>Chilly</option>
                <option>Cool</option>
                <option>Mild</option>
                <option>Warm</option>
                <option>Balamy</option>
                <option>Sweltering</option>
                <option>Scorching</option>
        </select></strong></p>
      <div>
            
 <ul style="list-style-type: none;display: inline;">
    <strong><li style="display: inline;">Date</li></strong>
    <strong><li style="display: inline;padding-left: 150px;">Temp(c)</li></strong>
   <strong><li style="display: inline;padding-left: 150px;">Temp(f)</li></strong>
    <strong><li style="display: inline;padding-left: 150px;">Summary</li></strong> 
 </ul>  

</div> 
</div>