<div class="container">
    <div class="row" style="margin-left: 150px;"> 
        <div class="col-md-4" style="margin-top:-200px ;">
<div >  
    <h2>Wheather Forecast</h2>
    <h6>This component displays weather report</h6>
    Summary :  
    <select  [(ngModel)]="Header.name" (ngModelChange)="Search(Header.name)">  
         <option *ngFor="let prod of Header">{{prod.name}} </option>  
     </select>  
<div *ngIf="Header.name">  

</div>  
</div>  
</div>
<div class="col-md-4" style="margin-left: 20px;margin-top:-90px ;">
<div>  
<table class="TFtable" border=2>  
<tr >   
<th>Date</th> <th style="padding-left: 15px;text-align: center;">Temp.(C)</th>  <th style="padding-left: 15px;text-align: center;">Temp.(F)</th> <th style="padding-left: 15px;text-align: center;">Summary</th>  
</tr>  
<tr  *ngFor="let Prod of Details">  
<td style="text-align: center;">{{Prod.Date}}</td>  
<td style="text-align: center;">{{Prod.Tempc}}</td>  
<td style="text-align: center;"> {{Prod.Tempf}}</td>  
<td style="text-align: center;">{{Prod.summary}}</td>  
</tr>  
</table>  
</div> 
</div>
</div>
</div>